* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::after {
    box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }

* {
  font-family: 'Fredoka', sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

a {
  text-decoration: none; }

video {
  object-fit: contain;
  width: 100%;
  height: 100%; }

td {
  text-align: center; }

.translatey {
  transform: translateY(0%); }
  @media (min-width: 1024px) {
    .translatey {
      transform: translateY(-120%); } }
  @media (min-width: 1400px) {
    .translatey {
      transform: translateY(-140%); } }

.Background {
  background: linear-gradient(-225deg, #2d264d 0%, #0e475f 78%, #1f867a 100%);
  min-height: 100vh; }

.hidden {
  display: none !important; }

.img-circle {
  border-radius: 50%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img {
  width: 100px;
  height: auto; }

.hidden {
  visibility: hidden; }

.btn-ppal {
  background-color: #3D3369;
  color: whitesmoke;
  padding: .8rem;
  margin: 1rem;
  border-radius: 2.5rem;
  transition: transform .4s;
  transition: background-color .3s; }
  .btn-ppal:hover {
    transform: scale(1.05); }
  .btn-ppal:hover {
    background-color: #8772E8; }

/* Nav */
.navegador {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #303030;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100; }
  @media (min-width: 768px) {
    .navegador {
      position: absolute; } }

.navegador__items {
  justify-content: center;
  align-items: center; }

.navegador__items__item {
  display: flex;
  justify-content: center; }

.navegador__items__item--link {
  font-size: 20px;
  color: whitesmoke;
  transition: opacity 0.2s; }
  .navegador__items__item--link:hover {
    opacity: 40%; }

.navegador__items__item--logo {
  width: 60px;
  height: auto;
  transition: transform .4s; }
  .navegador__items__item--logo:hover {
    transform: scale(1.05); }
  @media (min-width: 768px) {
    .navegador__items__item--logo {
      width: 70px; } }
  @media (min-width: 1400px) {
    .navegador__items__item--logo {
      width: 85px; } }

/* New Account */
.register__overlay {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100%;
  z-index: 100;
  top: 0;
  transform: translateY(-200%);
  transition: 0.8s ease-in-out;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); }

.register__overlay.open {
  transform: translateY(0%); }

.register__modal {
  height: 50vh;
  width: 40%;
  background-color: #323232;
  overflow: hidden;
  overflow-x: hidden;
  padding-top: 5%;
  margin-top: 15%;
  text-align: center;
  border-radius: 2.5rem; }

.register__form {
  display: flex;
  color: white;
  justify-content: center; }

.register__title {
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.register__modal--closeBtn {
  width: 40px;
  float: right;
  cursor: pointer; }

/* Login */
.login__modal--closeBtn {
  width: 40px;
  float: right;
  cursor: pointer; }

.login__overlay {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: 100;
  transform: translateY(-200%);
  transition: 0.8s ease-in-out;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); }

.login__overlay.open {
  transform: translateY(0%); }

.login__modal {
  height: 50vh;
  width: 40%;
  background-color: #323232;
  overflow: hidden;
  overflow-x: hidden;
  padding-top: 5%;
  margin-top: 15%;
  text-align: center;
  border-radius: 2.5rem; }

.login__form {
  display: flex;
  color: white;
  justify-content: center; }

.login__title {
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem; }

/* Carrito */
.cart-quantity {
  background-color: whitesmoke;
  position: fixed;
  width: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 100;
  border: solid 2px white;
  border-radius: 1rem;
  font-weight: bolder;
  text-align: center; }

.carrito--img {
  width: 40px;
  height: auto; }

.carrito {
  position: fixed;
  width: 40px;
  height: auto;
  z-index: 101;
  right: 2.5rem;
  top: 2.5rem;
  cursor: pointer; }

.carrito__overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 2;
  transform: translateX(200%);
  transition: 0.8s ease-in-out; }

.carrito__overlay.open {
  transform: translateX(0%); }

.carrito__modal {
  height: 100vh;
  width: 100%;
  background-color: #323232;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 150px; }
  @media (min-width: 550px) {
    .carrito__modal {
      width: 40%; } }

.carrito__modal--close {
  width: 40px;
  float: right;
  margin: .5em 2em 0 0;
  cursor: pointer; }

.carrito__modal__item--img {
  width: 15%;
  height: auto;
  border-radius: .5rem;
  margin-top: 1rem; }

.carrito__modal__item--text {
  color: whitesmoke;
  margin: 1rem; }

.carrito__modal__item--price {
  color: whitesmoke; }

.carrito__modal__item--cantidad {
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin: 1rem; }

.carrito__modal__item--borrar {
  font-weight: bolder;
  background-color: beige;
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s; }
  .carrito__modal__item--borrar:hover {
    background-color: #E3D37B; }

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none; }

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */ }

.cart-total {
  color: white; }

.total-price {
  color: white;
  font-size: 2rem;
  display: block; }

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: beige;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
  transition: background-color .3s; }
  .purchase-btn:hover {
    background-color: #E3D37B; }

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.product-row {
  display: flex;
  align-items: center; }

/* Compra */
.compra {
  padding-top: 15rem;
  padding-bottom: 3rem; }

.compra__contenedor {
  background-color: white;
  border-radius: 2.5rem; }

.compra__contenedor__card {
  display: inline-flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center; }

.compra__contenedor__total {
  display: inline-flex;
  padding: 1rem;
  justify-content: end;
  align-items: center;
  padding-right: 5rem; }

.compra__contenedor__card--img {
  width: 15%;
  height: auto;
  border-radius: .5rem;
  margin-top: 1rem; }

.compra__contenedor__total--text {
  padding: 2rem; }

.compra__contenedor__total--text {
  padding: 2rem; }

.compra__button {
  display: flex;
  justify-content: center; }

.compra__button--btn {
  margin-bottom: 5rem;
  width: 8rem;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: beige;
  padding: 2%;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s; }
  .compra__button--btn:hover {
    background-color: #E3D37B; }

/* Video Landing */
.video {
  padding-top: -1rem; }
  @media (min-width: 768px) {
    .video {
      padding-top: 4rem; } }

.video__links--text {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ede0ce; }
  @media (min-width: 768px) {
    .video__links--text {
      font-size: 1.5rem; } }

.video__links--link {
  display: flex;
  justify-content: center; }

.video__links--img {
  width: 75px;
  height: auto;
  transition: transform .4s; }
  .video__links--img:hover {
    transform: scale(1.05); }
  @media (min-width: 768px) {
    .video__links--img {
      width: 90px; } }
  @media (min-width: 1400px) {
    .video__links--img {
      width: 100px; } }

/* Lista Videos */
.listaVideos {
  padding-top: 15rem;
  padding-bottom: 3rem;
  color: beige;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }

.listaVideos__title--img {
  height: 50px; }
  @media (min-width: 768px) {
    .listaVideos__title--img {
      height: 70px; } }
  @media (min-width: 1400px) {
    .listaVideos__title--img {
      height: 85px; } }

.listaVideos__item {
  margin-bottom: 2rem; }

.listaVideos__item--title {
  margin-bottom: 1rem; }

.listaVideos__item--img {
  margin-bottom: 1rem;
  width: 200px; }
  @media (min-width: 375px) {
    .listaVideos__item--img {
      width: 350px; } }
  @media (min-width: 550px) {
    .listaVideos__item--img {
      width: 500px; } }

/* Audio */
.audio {
  border-radius: 2.5rem;
  width: 100%;
  height: 80%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: none; }

/* About Arcane */
.about__title--img {
  width: 75%;
  height: auto; }

.about__text {
  text-align: center;
  color: #ede0ce; }

.about__text--title {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%; }
  @media (min-width: 768px) {
    .about__text--title {
      font-size: 3rem; } }

.about__text--paragraph {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif; }
  @media (min-width: 768px) {
    .about__text--paragraph {
      font-size: 2rem; } }

/* Proyectos */
.proyectos {
  padding-top: 5rem;
  padding-bottom: 3rem; }

.proyectos__cards {
  justify-content: center; }

.proyectos__cards--img {
  width: 460px;
  height: 500px;
  margin: 2rem;
  border-radius: 2.5rem;
  transition: transform .4s; }
  .proyectos__cards--img:hover {
    transform: scale(1.05); }

/* Productos */
.productos {
  padding-top: 15rem;
  padding-bottom: 3rem; }

.productos__cards {
  justify-content: center; }

.productos__cards--card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  background-color: beige;
  border-radius: 2.5rem;
  transition: transform .4s; }
  .productos__cards--card:hover {
    transform: scale(1.05); }

.productos__cards--text {
  margin: 0.5rem; }

.productos__cards--img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  background-color: white;
  border-radius: 2.5rem; }

/* Footer */
.footer {
  background-color: #303030;
  left: 0;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5); }

.footer__items {
  justify-content: space-around; }

.footer__items__item {
  padding: 1rem 0 0 1rem; }

.footer__items__item--link {
  font-size: 20px;
  color: whitesmoke;
  transition: opacity 0.2s; }
  .footer__items__item--link:hover {
    opacity: 40%; }

/* Formulario */
.formulario {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center; }

.formulario__innerForm {
  padding: 10%;
  width: 50%;
  height: auto;
  justify-content: center;
  text-align: center;
  background-color: beige;
  border-radius: 2.5rem; }

.formulario__innerForm__input {
  border-radius: 2.5rem; }

/* Panel */
#tabla {
  background-color: white;
  margin: 2rem;
  align-items: center; }

.lista {
  display: flex;
  justify-content: center; }
