* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::after {
    box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }

* {
  font-family: 'Fredoka', sans-serif; }

a {
  text-decoration: none; }

video {
  object-fit: contain;
  width: 100%;
  height: 100%; }

.translatey {
  transform: translateY(0%); }
  @media (min-width: 1024px) {
    .translatey {
      transform: translateY(-120%); } }
  @media (min-width: 1400px) {
    .translatey {
      transform: translateY(-140%); } }

.Background {
  background: linear-gradient(-225deg, #2d264d 0%, #0e475f 78%, #1f867a 100%);
  min-height: 100vh; }

.hidden {
  display: none !important; }

.img-circle {
  border-radius: 50%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img {
  width: 100px;
  height: auto; }

/* Nav */
.navegador {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #303030;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100; }
  @media (min-width: 768px) {
    .navegador {
      position: absolute; } }

.navegador__items {
  justify-content: center;
  align-items: center; }

.navegador__items__item {
  display: flex;
  justify-content: center; }

.navegador__items__item--link {
  font-size: 20px;
  color: whitesmoke;
  transition: opacity 0.2s; }
  .navegador__items__item--link:hover {
    opacity: 40%; }

.navegador__items__item--logo {
  width: 60px;
  height: auto;
  transition: transform .4s; }
  .navegador__items__item--logo:hover {
    transform: scale(1.1); }
  @media (min-width: 768px) {
    .navegador__items__item--logo {
      width: 70px; } }
  @media (min-width: 1400px) {
    .navegador__items__item--logo {
      width: 85px; } }

/* Video Landing */
.video {
  padding-top: -1rem; }
  @media (min-width: 768px) {
    .video {
      padding-top: 4rem; } }

.video__links--text {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ede0ce; }
  @media (min-width: 768px) {
    .video__links--text {
      font-size: 1.5rem; } }

.video__links--link {
  display: flex;
  justify-content: center; }

.video__links--img {
  width: 75px;
  height: auto;
  transition: transform .4s; }
  .video__links--img:hover {
    transform: scale(1.1); }
  @media (min-width: 768px) {
    .video__links--img {
      width: 90px; } }
  @media (min-width: 1400px) {
    .video__links--img {
      width: 100px; } }

/* Audio */
.audio {
  border-radius: 2.5rem;
  width: 100%;
  height: 80%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: none; }

/* About Arcane */
.about__text {
  text-align: center;
  color: #ede0ce; }

.about__text--title {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%; }
  @media (min-width: 768px) {
    .about__text--title {
      font-size: 3rem; } }

.about__text--paragraph {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif; }
  @media (min-width: 768px) {
    .about__text--paragraph {
      font-size: 2rem; } }

/* Proyectos */
.proyectos {
  padding-top: 5rem;
  padding-bottom: 3rem; }

.proyectos__cards {
  justify-content: center; }

.proyectos__cards--img {
  width: 460px;
  height: 500px;
  margin: 2rem;
  border-radius: 2.5rem; }

/* Productos */
.productos {
  padding-top: 15rem;
  padding-bottom: 3rem; }

.productos__cards {
  justify-content: center; }

.productos__cards--card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border-radius: 2.5rem;
  background-color: beige; }

.productos__cards--text {
  margin: 0.5rem; }

.productos__cards--img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 2.5rem; }

/* Footer */
.footer {
  background-color: #303030;
  left: 0;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5); }

.footer__items {
  justify-content: space-around; }

.footer__items__item {
  padding: 1rem 0 0 1rem; }

.footer__items__item--link {
  font-size: 20px;
  color: whitesmoke;
  transition: opacity 0.2s; }
  .footer__items__item--link:hover {
    opacity: 40%; }

/* Formulario */
.formulario {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center; }

.formulario__innerForm {
  padding: 10%;
  width: 50%;
  height: auto;
  justify-content: center;
  text-align: center;
  background-color: beige;
  border-radius: 2.5rem; }

.formulario__innerForm__input {
  border-radius: 2.5rem; }
