@import "variables";
@import "reset";
@import "typography";
@import "mixins";

a{
    text-decoration: none;
}
video {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
td{
    text-align: center;
}
.translatey{
    transform: translateY(0%);
    @media (min-width: 1024px){
        transform: translateY(-120%);
    }
    @media (min-width: 1400px){
        transform: translateY(-140%);
    }
}
.Background{
    background: $BackgroundColor;
    min-height: 100vh;
}
.hidden {
    display: none !important;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img{
    width: 100px;
    height: auto;
}
/* Nav */
.navegador{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $BackgroundNavColor;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
    @media (min-width: 768px){
        position: absolute;
    }
}
.navegador__items{
    justify-content: center;
    align-items: center;
}
.navegador__items__item{
    display: flex;
    justify-content: center;
}
.navegador__items__item--link{
    font-size: 20px;
    @include Link;
}
.navegador__items__item--logo{
    width: 60px;
    height: auto;
    @include Zoom;
    @media (min-width: 768px){
        width: 70px;
    }
    @media (min-width: 1400px){
        width: 85px;
    }
}
/* Carrito */
.carrito{
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 100;
    right: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
}
.carrito__overlay{
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 2;
    transform: translateX(+200%);
    transition: 0.8s ease-in-out;
}
.carrito__overlay.open{
    transform: translateX(0%);
}
.carrito__modal{
    height: 100vh;
    width: 40%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 150px;
}
.carrito__modal--close{
    width: 40px;
    float: right;
    margin: .5em 2em 0 0;
    cursor: pointer;
}
.carrito__modal__item--img{
    width: 10%;
    height: auto;
    border-radius: .5rem;
}
.cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
}
.total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
}
.cart-total {
    color: white;
}
.total-price {
    color: white;
    font-size: 2rem;
    display: block;
}
.purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: beige;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
}
.product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}
.product-row {
    display: flex;
    align-items: center;
}
/* Video Landing */
.video{
    padding-top: -1rem;
    @media (min-width: 768px){
        padding-top: 4rem;
    }
}
.video__links--text{
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: map-get($map: $PaletaColores, $key: "Texto");
    @media (min-width: 768px){
        font-size: 1.5rem;
    }
}
.video__links--link{
    display: flex;
    justify-content: center;
}
.video__links--img{
    width: 75px;
    height: auto;
    @include Zoom;
    @media (min-width: 768px){
        width: 90px;
    }
    @media (min-width: 1400px){
        width: 100px;
    }
}
/* Audio */
.audio{
    @include BordesRedondeados;
    width: 100%;
    height: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: none;
}
/* About Arcane */
.about__text{
    text-align: center;
    color: map-get($map: $PaletaColores, $key: "Texto");
}
.about__text--title{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    @media (min-width: 768px){
        font-size: 3rem;
    }
}
.about__text--paragraph{
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    @media (min-width: 768px){
        font-size: 2rem;
    }
}
/* Proyectos */
.proyectos{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.proyectos__cards{
    justify-content: center;
}
.proyectos__cards--img{
    width: 460px;
    height: 500px;
    margin: 2rem;
    @include BordesRedondeados;
}
/* Productos */
.productos{
    padding-top: 15rem;
    padding-bottom: 3rem;
}
.productos__cards{
    justify-content: center;
}
.productos__cards--card{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    @include BordesRedondeados;
    background-color: beige;
}
.productos__cards--text{
    margin: 0.5rem;
}
.productos__cards--img{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    @include BordesRedondeados;
}
/* Footer */
.footer{
    background-color: $BackgroundNavColor;
    left: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}
.footer__items{
    justify-content: space-around;
}
.footer__items__item{
    padding: 1rem 0 0 1rem;
}
.footer__items__item--link{
    font-size: 20px;
    @include Link;
}
/* Formulario */
.formulario{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}
.formulario__innerForm{
    padding: 10%;
    width: 50%;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: beige;
    @include BordesRedondeados;
}
.formulario__innerForm__input{
    @include BordesRedondeados;
}
/* Panel */
#tabla{
    background-color: white;
    margin: 2rem;
    align-items: center;
}
.lista{
    display: flex;
    justify-content: center;
}
